@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic);

body, section {
	font-family: 'PT Sans';
}

.container-fluid {
	margin: 5% auto;
	max-width: 90%;
}

.navbar-fixed-top .container {
	width: 90%;
}

.main {
	margin-top: 5%;
}

span.brand {
	margin-right: 10pt;
}

.inline {
	display: inline;
}

form.new-build .input-xlarge {
	width: 95%;
}

form.new-build select.input-xlarge {
	width: 98%;
	height: 220pt;
}

div.badge-empty {
	display: inline;
	padding-right: 9px;
	  padding-left: 7px;
	  -webkit-border-radius: 9px;
	     -moz-border-radius: 9px;
	          border-radius: 9px;
}

div.li-before {
	margin-right: 3pt;
}

div.li-after {
	margin-left: 3pt;
}

textarea.details {
	display: block;
	margin-top: 5pt;
	width: 318pt;
}

textarea.stream {
	display: block;
	width: 510pt;
}

dt {
	margin-top: 5pt;
}

div.task-action {
	padding-top: 11pt;
}

div.task-labels {
	padding: 5pt 0 5pt 0;
}

.wide-item li {
	padding: 2pt 0 2pt 0;
	vertical-align: middle;
}

.state-content {
	padding-bottom: 10pt;
}

.alert-holder {
	position: absolute;
	top: 12%;
	right: 1%;
}

.small {
	font-size: 85%;
}

.badge-open {
  background-color: #b94a48;
}

.badge-open[href] {
  background-color: #953b39;
}

.badge-close {
  background-color: #468847;
}

.badge-close[href] {
  background-color: #356635;
}

.confirm-buttons {
	margin-top: 5pt;
}

.icon-remove,
.icon-thumbs-up {
	cursor: pointer;
}

.branch-acts span {
	cursor: pointer;
}

.slim-badge {
	border-left: 3pt solid;
	padding-left: 3pt;
}

#feature-list .slim-badge {
	border-left-width: 5pt;
}

.slim-badge-info {
	border-left-color: #3a87ad;
}

.slim-badge-important, .slim-badge-open {
	border-left-color: #b94a48;
}

.slim-badge-warning {
	border-left-color: #f89406;
}

.slim-badge-success, .slim-badge-close {
	border-left-color: #68aa69;
}

.branch-list .slim-badge, #feature-list .slim-badge {
	margin-top: 5pt;
}

#feature-list li a, #bug-list li a {
	padding-left: 5pt;
}

.task-list-header {
	width: 328pt;
	height: 40pt;
	margin: 10pt 0 10pt 0;
	vertical-align: middle;
	line-height: 40pt;
	font-size: 28pt;
	text-align: center;
	color: #fff;
	background-color: #00aba9;
}

.bugs-list-header {
	background-color: #b91d47;
}