@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic);

body, section, .btn {
	font-family: 'PT Sans';
	border-radius: 0;

	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.container-fluid {
	margin: 5% auto;
	max-width: 90%;
}

.navbar-fixed-top .container {
	width: 90%;
}

.main {
	margin-top: 5%;
}

span.brand {
	margin-right: 10pt;
}

.inline {
	display: inline;
}

form.new-build .input-xlarge {
	width: 95%;
}

form.new-build select.input-xlarge {
	width: 98%;
	height: 220pt;
}

div.li-before {
	margin-right: 3pt;
}

div.li-after {
	margin-left: 3pt;
}

textarea.details {
	display: block;
	margin-top: 5pt;
	width: 100%;
	border: 1px solid #ccc;
}

textarea.stream {
	display: block;
	width: 510pt;
}

dt {
	margin-top: 5pt;
}

div.task-action {
	padding-top: 11pt;
}

div.task-labels {
	padding: 5pt 0 5pt 0;
}

.wide-item li {
	padding: 2pt 0 2pt 0;
	vertical-align: middle;
}

.state-content {
	padding-bottom: 10pt;
}

.alert-holder {
	position: absolute;
	top: 12%;
	right: 1%;
}

.small {
	font-size: 85%;
}

.badge-open {
  background-color: #b94a48;
}

.badge-open[href] {
  background-color: #953b39;
}

.badge-close {
  background-color: #468847;
}

.badge-close[href] {
  background-color: #356635;
}

.confirm-buttons {
	margin-top: 5pt;
}

.icon-remove,
.icon-thumbs-up {
	cursor: pointer;
}

.branch-acts span {
	cursor: pointer;
}

.branch-list .slim-badge, #feature-list .slim-badge {
	margin-top: 5pt;
}

#feature-list li a, #bug-list li a, .branch-list li a {
	padding-left: 5pt;
}

.task-list-header {
	width: 100%;
	height: 40pt;
	margin: 10pt 0 10pt 0;
	vertical-align: middle;
	line-height: 40pt;
	font-size: 28pt;
	text-align: center;
	color: #fff;
	background-color: #00aba9;
}

.bugs-list-header {
	background-color: #b91d47;
}

.square-badge {
	float:left;
	width: 15px;
	height: 15px;
	background-color: #b94a48;
	margin-top: 2pt;
}

.status-open, { background-color: #da532c; }
.status-close { background-color: #00a300; }
.status-review { background-color: #2d89ef; }
.status-testing { background-color: #ffc40d; }
.status-complete { background-color: #00a300; }
.status-fixing { background-color: #b91d47;}

.status-icon-open:before {
	content: "\1f525";
	color: #da532c;
}

.status-icon-close:before {
	content:"\e013";
	color: #00a300;
}

.btn-success {
	background-color: #00a300;
	border-color: #00a300;
}

.btn-success:hover {
	background-color: #009200;
	border-color: #009200;
}

.btn-default {
	background-color: #dee3ee;
	border-color: #dee3ee;
}

.btn-default:hover {
	background-color: #cdd2dd;
	border-color: #cdd2dd;
}

ol.unstyled, ul.unstyled {
	list-style: none;
	padding: 0;
}

#feature-list, #bug-list {
	margin-top: 15pt;
}