.container-fluid {
	margin: 5% auto;
	max-width: 90%;
}

.main {
	margin-top: 5%;
}

.inline {
	display: inline;
}

form.new-build .input-xlarge {
	width: 95%;
}

form.new-build select.input-xlarge {
	width: 98%;
	height: 220pt;
}

div.badge-empty {
	display: inline;
	padding-right: 9px;
	  padding-left: 7px;
	  -webkit-border-radius: 9px;
	     -moz-border-radius: 9px;
	          border-radius: 9px;
}

div.li-before {
	margin-right: 3pt;
}

div.li-after {
	margin-left: 3pt;
}

textarea.details {
	display: block;
	margin-top: 5pt;
	width: 291pt;
}

textarea.stream {
	display: block;
	width: 510pt;
}

dt {
	margin-top: 5pt;
}

div.task-action {
	padding-top: 11pt;
}

div.task-labels {
	padding: 5pt 0 5pt 0;
}

.wide-item li {
	padding: 2pt 0 2pt 0;
	vertical-align: middle;
}

.state-content {
	border-bottom: 1pt solid #ddd;
	padding-bottom: 10pt;
}

.alert-holder {
	position: absolute;
	top: 12%;
	right: 1%;
}

.small {
	font-size: 85%;
}

.badge-open {
  background-color: #b94a48;
}

.badge-open[href] {
  background-color: #953b39;
}

.badge-close {
  background-color: #468847;
}

.badge-close[href] {
  background-color: #356635;
}

.confirm-buttons {
	margin-top: 5pt;
}

.icon-remove,
.icon-thumbs-up {
	cursor: pointer;
}